# ================================
# OhMyUI!
# ================================


# ================================
# Dependencies
# ================================
node_modules/
jspm_packages/
bower_components/


# ================================
# Build outputs
# ================================
dist/
out/
build/Release/

# ================================
# Style Dictionary
# ================================
packages/tokens/build/

# ================================
# Storybook
# ================================
storybook-static/


# ================================
# Environment variables
# ================================
.env
.env.*
!.env.example


# ================================
# Logs
# ================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# ================================
# TypeScript
# ================================
*.tsbuildinfo


# ================================
# Testing & coverage
# ================================
coverage/
*.lcov
.nyc_output/


# ================================
# Cache directories
# ================================
.cache/
.parcel-cache/
.npm/
.eslintcache
.stylelintcache


# ================================
# Nx
# ================================
.nx/cache
.nx/workspace-data
.angular/


# ================================
# VitePress
# ================================
**/.vitepress/dist
**/.vitepress/cache


# ================================
# Vite
# ================================
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
vitest.config.*.timestamp*
.temp/


# ================================
# Yarn v3
# ================================
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# ================================
# VSCode
# ================================
.vscode/
!.vscode/extensions.json
!.vscode/settings.json


# ================================
# OS
# ================================
.DS_Store
Thumbs.db
